:root {
    --background: #020817;
    --navigation: #081528;
    --list: #4e6287;
    --accent: #b0e3f5;
    --panels: #091027;
    --font-color: #ffffff;
    --gradient1: #4e6287;
    --gradient2: #081528;
}

body{
    background: var(--background);
    color: var(--font-color);
    font-family: "Space Mono", monospace;
    font-weight: 400;
}

a {
    color: var(--font-color);
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--navigation);
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    overflow: scroll;
    width: 95%;
    margin: 0;
    padding: 0;
}

nav h2 {
    padding: 10px;
    margin: 0 1em;
}

nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid var(--list);
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--list);
}

h1 {
    text-align: center;
    font-size: 3em;
}

h3{
    text-align: center;
}

button{
    background-color: var(--accent);
    border: dashed var(--gradient1);
    border-radius: 0.4em;
    border-width: 2px;
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 10px 0px;
}

textarea {
    border: solid 1px var(--accent);
    background-color: var(--panels);
    width: 25em;
    min-width: 20rem;
    max-width: 29em;
    height: 15em;
    min-height: 2em;
    max-height: 15em;
    border-radius: 1em;
    padding: 0.7em;
    margin-top: 0.5em;
    color: var(--font-color);
    font-size: 0.8em;
}

input {
    background-color: var(--panels);
    border-radius: 0.5em;
    color: var(--font-color);
    padding: 2px 10px;
    border: solid 1px var(--accent);
    font-size: 1em;
}

#predict {
    height: 10em;
    width: 25em;
    max-width: 25em;
}

#content-1, #content-2, #content-3, #content-4{
    margin-left: 4em;
    margin-right: 4em;
}

#cont {
    overflow: scroll;
}

#output {
    color: black;
    padding: 5px 15px;
    margin: auto;
    margin-bottom: 3em;
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    width: fit-content;
    max-width: 85%;
    height: fit-content;
}

.generation {
    background: linear-gradient(var(--gradient1),var(--gradient2));
    border-radius: 1em;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 10px auto;
}

.generation h3 {
    text-align: center;
    font-size: 1.5em;
}

.message-area {
    background-color: #4e6287;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    border-radius: 10px;
    padding: 0px 20px;
    width: auto;
}

.success{
    background-color: #4e7441;
    border: dashed #1d2e19 4px;
}

.error{
    background-color: #7e2a2a;
    border: dashed #2e1919 4px;
}

.divider {
    width: 1px;
    height: auto;
    background-color: var(--accent);
    margin-left: 2em;
    margin-right: 2em;
}

.break {
    margin: 2em;
}

.upload_content {
    background-color: var(--panels);
    border-width: 2.5px;
    border-color: var(--accent);
    border-style: dashed;
    padding: 5px;
    margin: 15px 0px;
    border-radius: 1em;
    width: 300px;
    height: auto;
}

.upload_content svg {
    display: block;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.upload_content p {
    font-size: 0.75em;
    text-align: center;
}

.upload_content input[type = file] {
    font-size: 0.4em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.upload_content input[type = file]::file-selector-button {
    color: transparent;
    background-color: transparent;
    border: none;
    width: 0px;
}