<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "styles.css">
        <title>Ngram</title>
    </head>
    <body>
        <form method="POST" action="/submit_corpus">

            <label for = "punctuation_input">To remove: </label>
            <input type = "text" id = "punctuation_input" name = "punctuation_remove" value = "!&quot;#$%&amps;'()*+,-./:;<=>?@[\]^_`{|}~" placeholder = "Symbols to be removed..."><br>

            <label for = "length_input">Length (int): </label>
            <input type = "number" id = "length_input" name = "ngram_length" value = "2" placeholder = "Length for your ngram..." step = '1' min = '1'><br>

            <label for = "corpus_input">Enter Corpus: </label><br>
            <textarea id = "corpus_input" name = "corpus" placeholder = "Type or paste a very long text (used to train the N-gram)..."></textarea><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>